// main: style.less

.wrap {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: auto;
  padding: 0 5px;
  box-sizing: border-box;

  h2 {
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 10px;
  }

  .subtitle {
    text-transform: uppercase;
    font-weight: 600;
  }
}

.about {
  width: 100%;
  padding: 60px 0;
  background: white;

  .two-columns-text {
    column-count: 2;
  }

  @media screen and (max-width: 660px) {
    .two-columns-text {
      column-count: 1;
    }
  }
}

.projects {
  width: 100%;
  padding: 60px 0;
  background: @blueish_white;

  .projects-list {
    margin-top: 40px;

    .project {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 40px 0;

      .project-image {
        width: 45%;
        height: 370px;
        background: #222;
      }

      .project-details {
        flex: 1;
        padding: 30px;
        box-sizing: border-box;
        position: absolute;
        left: 30%;
        width: 70%;
        background: white;
        box-shadow: 0 0 2px rgba(0, 0, 0, .3);

        h2,
        .project-title {
          font-family: 'Oswald', sans-serif;
          color: inherit;
          display: block;
          font-weight: 600;
          margin-bottom: 10px;
          text-transform: uppercase;
          margin-top: 15px;
          font-size: 28px;
        }
      }

      &.right {

        .project-image {
          align-self: flex-end;
        }

        .project-details {
          left: auto;
          right: 30%;
        }
      }
    }

    @media screen and (max-width: 660px) {

      .project {
        display: block;
        margin: 20px 0;

        .project-image {
          flex: 0;
          display: block;
          width: 100%;
          height: 200px;
        }

        .project-details {
          flex: 0;
          display: block;
          position: relative;
          left: 0;
          width: 100%;
        }

        &.right {

          .project-details {
            right: 0;
          }
        }
      }
    }
  }
}

.team {
  width: 100%;
  padding: 60px 0;
  background: white;

  .team-members {
    margin-top: 40px;
    overflow: hidden;
    font-size: 0;
    text-align: center;

    .team-member {
      position: relative;
      padding: 0px;
      display: inline-block;
      width: 25%;
      padding: 5px;
      height: 270px;
      box-sizing: border-box;
      margin-bottom: 60px;
      font-size: 16px;

      .portrait {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background-clip: content-box;
        filter: grayscale(1);
      }

      .user-infos {
        position: absolute;
        bottom: -40px;
        left: 10%;
        width: 75%;
        border: 2px solid @dark_text_color;
        padding: 20px;
        background: rgba(255, 255, 255, .2);

        h2 {
          font-size: 24px;
          text-transform: none;
          margin: 0;
        }

        .role {
          //text-transform: uppercase;
          font-size: .9em;
        }
      }

      &:hover {
        .portrait {
          filter: grayscale(0);
          transition: .3s;
        }

        .user-infos {
          background: rgba(255, 255, 255, 1);
          transition: .3s;
        }
      }
    }

    @media screen and (max-width: 660px) {
      .team-member {
        width: 33.33%;
      }
    }

    @media screen and (max-width: 460px) {
      .team-member {
        width: 50%;
      }
    }
  }
}