// out: ../style.css
 @import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

// Colors
@dark_text_color: #2c3e50;

// Backgorunds
@green: #50E3C2;
@blueish_white: #ECF0F1;

@import '_underscores.less';
@import '_general.less';
@import '_staticpage.less';
@import '_home.less';
@import '_air.less';
@import '_blog.less';